# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Mac OS x specific stuff
.DS_Store

# WebStorm (jetbrains) project files
.idea

# ignore bower added libraries...
node_modules
engine
#bower_components

# temporary files
*~